.Navbar {
  background-color: azure;
  display: flex;
}

.Navbar > a {
  padding: 5px;
  text-decoration: none;
  color: blue;
}

.Footer {
  background-color: black;
  color: white;
}

.Navbar,
.Footer {
  text-align: center;
  padding: 10px;
}
.Pages {
  min-height: 60vh;
  padding: 10px;
}
