.Container {
  width: 400px;
  margin: auto;
}

.SimpleForm {
  border: 1px solid red;
  margin-bottom: 20px;
}
.CardsForm {
  border: 1px solid green;
  padding: 5px;
}
.Card {
  border: 1px solid blue;
  text-align: center;
  margin-bottom: 10px;
}
.Card p {
  background-color: #ddd;
  padding: 10px;
}
