.navbar {
  width: 100vw;
  height: 5vh;
  background-color: #ddd;
}

.subNavbar {
  width: 100%;
  display: flex;
}

.Logo {
  display: flex;
  width: 90%;
  justify-content: center;
}

.side-bar {
  width: 80%;
  background-color: antiquewhite;
  height: 70vh;
  position: absolute;
  top: 5vh;
  left: 0;
  display: none;
}

.side-bar > div {
  padding-top: 10px;
  padding-bottom: 10px;
}

#input-menu:checked ~ .side-bar {
  display: block;
}
#input-menu {
  display: none;
}
